body{
    background-color: #f2f4f5;
  }
  
img{
    display:block;
    width: 100%;
  }

nav {
    display:flex;
    justify-content: center;
    align-items: center;;
    margin: 25px;
    background: #f9f9f9;
    padding: 16px;
}
  
.menuItems {
    list-style: none;
    display: flex;
}
  
li {
    margin: 50px;
}
  
a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;}